[user]
	name = Petr Pechkurov
	email = petr.pechkurov@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	commentChar = auto
[pull]
	ff = only
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
