include optional=true "colors.kdl"
// Host-specific: home
// Outputs: DP-4 (left, primary), DVI-D-1 (right), HDMI-A-4 (top)

input {
    keyboard {
        xkb {
            layout "us,ru,us"
            variant "dvorak,,basic"
            options "grp:alt_shift_toggle,caps:escape"
        }
    }
}

workspace "term_l" {
    open-on-output "DP-4"
}
workspace "browser" {
    open-on-output "DP-4"
}
workspace "chats" {
    open-on-output "DP-4"
}
workspace "media" {
    open-on-output "DP-4"
}
workspace "term_r" {
    open-on-output "DVI-D-1"
}

output "DP-4" {
    focus-at-startup
    transform "normal"
    position x=0 y=0
}
output "DVI-D-1" {
    transform "normal"
    position x=1920 y=0
}
output "HDMI-A-4" {
    transform "normal"
    position x=0 y=-1080
}
